{% extends "base.html" %}

{% block content %}
<h2>Hello my name is {{name}}</h2>
<h4>^ This is dynamic to route!</h4>

<h1>Pythagorean Theorem Calculator</h1>
<h2>a^2 + b^2 = c^2</h2>
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input required placeholder="a" type="number" name="a" />
    <input required placeholder="b" type="number" name="b" />
    <input type="submit" />
</form>
<h3>a = {{a}}</h3>
<h3>b = {{b}}</h3>
<h3>c= {{output}}</h3>

<h1>Bubble Sort</h1>
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="text" required name="input_text[]" placeholder="0" /> ,
    <input type="text" required name="input_text[]" placeholder="535" /> ,
    <input type="text" name="input_text[]" placeholder="654" /> ,
    <input type="text" name="input_text[]" placeholder="876" /> ,
    <input type="text" name="input_text[]" placeholder="876" /> ,
    <input type="text" name="input_text[]" placeholder="567" /> ,
    <input class="final" type="text" name="input_text[]" placeholder="1" />
    <input type="submit" value="Sort" />
</form>

<h3>Original: {{original}}</h3>
<h3>Sorted: {{sorted}}</h3>

<style>
    h1 {
        text-align: center;
        font-family: "Roboto", roboto;
        font-size: 80px;
        color: rgb(0, 255, 0);
    }

    h2 {
        text-align: center;
        font-family: "Roboto", roboto;
    }

    h4 {
        text-align: center;
        font-family: "Roboto", roboto;
        font-size: 20px;
    }

    body {
        background-image: url("https://i.pinimg.com/originals/1e/ef/c5/1eefc5567dc5c55f67ef6849b9235582.jpg")
</style>
{% endblock %}