{% extends "base.html" %}

{% block content %}
<h1>Hello my name is {{name}}</h1>
<p>^ This is dynamic to route!</p>

<h1>Pythagorean Theorem Calculator</h1>
<p>a^2 + b^2 = c^2</p>
<h3></h3>
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input required placeholder="a" type="number" name="a" />
    <input required placeholder="b" type="number" name="b" />
    <input type="submit" />
</form>
<p>a = {{a}}</p>
<p>b = {{b}}</p>
<h2>c= {{output}}</h2>

{% endblock %}